<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>practice</title>
    <script src="../../script/angular.min.js"></script>

    <link rel="stylesheet" href="../../css/tableDesign.css">
    <script src="../../script/p5.js"></script>
</head>
<body >

    <div ng-controller="myController">
        no of rows:<input type="number" step="1" min="0" max="5" ng-model="rowLimit" >
        <br><br>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Salary (currency)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in myData | limitTo:rowLimit">
                <td>{{data.name | uppercase}}</td>
                <td>{{data.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                <td>{{data.gender | uppercase}}</td>
                <td>{{data.salary | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>